<h2>Edit Profile</h2>

<%= form_for @user, url: :profile do |form| %>
  <%= render "errors", target: @user %>
  <div>
    <%= form.label :name, "First Name:" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>
