<div class="left-container">
  <div class="name-photo">
    <div class="artist-name">
      <h1><%= @artist.name %></h1>
    </div>
    <% if @artist.profile_picture.present? %>
      <div class="profile-picture">
        <%= image_tag(@artist.profile_picture_url(:thumb).to_s) %>
      </div>
    <% end %>
  </div>

  <% if current_user.account == @artist %>
    <%= link_to "Edit Profile", [:edit, :artist] %>
  <% end %>

  <h3>Bio:</h3>
  <%= @artist.bio %>

  <h3>Connect:</h3>
  <%= render "social_links" %>
</div>

<div class="right-container">
  <h2 class="upcoming-shows-heading">Upcoming shows</h2>
  <%= render "artist_upcoming_concerts" %>
  <%= paginate @concerts %>
</div>
