<div class="dashboard-header">
  <h2><%= current_account.name %>'s Dashboard</h2>
</div>

<div class="add-concert">
  <%= link_to "Add A New Concert", [:new, :concert] %>
</div>

<div class="show-container">
  <div class="upcoming-shows">
    <h3>Upcoming Shows</h3>
    <%= render @upcoming_concerts %>
    <%= paginate @upcoming_concerts %>
  </div>

  <div class="past-shows">
    <h3>Past Shows</h3>
    <%= render @past_concerts %>
    <%= paginate @past_concerts %>
  </div>
</div>
