<div class="profile-header">
  <div class="profile-picture">
    <h2><%= @fan.name %></h2>
    <h3>Fan</h3>
    <% if @fan.profile_picture.present? %>
      <%= image_tag(@fan.profile_picture_url(:thumb).to_s) %>
    <% else %>
      <%= image_tag("no_photo.jpg") %>
    <% end %>
  </div>
</div>

<div class="edit-profile">
  <%= link_to "Edit Profile", [:edit, :fan] %>
</div>

<%= render "concerts_attended" %>

<%= render "comment_activity" %>
