<h2><%= @fan.name %></h2>

<% if @fan.profile_picture.present? %>
  <%= image_tag(@fan.profile_picture_url(:thumb).to_s) %>
<% end %>

<%= link_to "Edit Profile", [:edit, :fan] %>

<h2>Concerts <%= @fan.name %> Attended</h2>
<% @fan.rsvps.each do |rsvp| %>
  <ul>
    <%= image_tag(rsvp.concert.headliner.profile_picture_url(:snippet).to_s) %>
    <%= rsvp.concert.headliner.name %>
    <%= rsvp.concert.date.to_formatted_s(:long_ordinal) %>
    <%= link_to "See Event", rsvp.concert %>
  </ul>
<% end %>
