<div class="left-container">
  <p><b>Date:</b> <%= @concert.date.to_formatted_s(:long_ordinal) %></p>
  <p><b>Location:</b> <%= link_to @concert.venue.name, @concert.venue %></p>
  <p><b>Address:</b> <%= @concert.venue.address %> <%= @concert.venue.city %>, <%= @concert.venue.state %></p>
  <%= link_to google_map_tag(@concert.venue.static_map_location), google_map_link(@concert.venue.static_map_location), target: "_blank" %>
  <b>Notes:</b> <%= @concert.additional_info %></p>

  <% if @concert.past? %>
    <div class="concert-past">
      <div class="past-message">
        <b>Alert:</b> This concert already happened.
        Did you attend? Leave a comment or upload photos of your experience!
      </div>

      Overall Experience : <%= rating_for @concert, "overall" %>
      Song Selection : <%= rating_for @concert, "selection" %>
      Crowd Presence : <%= rating_for @concert, "crowd" %>
    </div>

  <% else %>
    <div class="tickets">
      <%= button_to "Purchase Tickets", @concert.tickets %>
    </div>
    <div class="concert-count">
      <h3>Are you going?</h3>
      <p><%= pluralize @concert.rsvps.count, "fan" %> said they are...you should too!</p>
      <div class="goings">
        <%= render "attend_button", target: @concert %>
      </div>
    </div>
  <% end %>
</div>


<div class="right-container">
  <div class="headliner">
    <h1><%= link_to @concert.headliner.name, @concert.headliner %></h1>
    <h3>Headliner</h3>
    <div class="headliner-photo">
      <% if @headliner.profile_picture.present? %>
        <%= image_tag(@headliner.profile_picture_url(:featured).to_s) %>
      <% else %>
        <%= image_tag("no_photo.jpg") %>
      <% end %>
    </div>
  </div>

  <% if current_user.venue? %>
    <%= link_to "Edit Concert", [:edit, :concert] %>
    <%= link_to "Delete Concert", :concert, method: :delete %>
  <% end %>

  <div class="opening-acts-list">
    <% if @concert.opening_acts.present? %>
      <p>Opening Artists</p>
    <% end %>
    <% @concert.opening_acts.each do |opening_act| %>
      <div class="opening-act">
        <% if opening_act.artist.profile_picture.present? %>
          <%= link_to image_tag(opening_act.artist.profile_picture_url(:snippet).to_s), opening_act.artist %>
        <% else %>
          <%= link_to image_tag("no_photo.jpg"), opening_act.artist %>
        <% end %>
        <h2><%= link_to opening_act.artist.name, opening_act.artist %></h2>
      </div>
    <% end %>
  </div>

  <% if @concert.past? %>
    <h3>Fan Photos</h3>
    <% @photos.each do |photo| %>
      <%= link_to image_tag(photo.image_url(:thumb).to_s), photo %>
    <% end %>

    <% if current_user.fan? %>
      <h3>Upload Your Photos!</h3>
      <%= form_for [@concert, @new_photo], html: { multipart: true } do |form| %>
        <div>
          <%= form.label :description %>
          <%= form.text_field :description %>
        </div>
        <div>
          <%= form.file_field :image %>
        </div>
        <div>
          <%= form.submit "Upload" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h3>Leave a comment!</h3>
  <% if current_user.fan? %>
    <%= form_for [@concert, @comment], id: "concert_comment" do |form| %>
      <%= form.text_field :body, placeholder: "Add Comment" %>
      <%= form.submit "Comment" %>
    <% end %>
  <% end %>

  <h3>Comments</h3>
  <%= render @comments %>
</div>
