<div class="left-container">
  <p><b>Location:</b> <%= link_to @concert.venue.name, @concert.venue %></p>
  <p><b>Address:</b> <%= @concert.venue.address %> <%= @concert.venue.city %>, <%= @concert.venue.state %></p>
  <p><b>Date:</b> <%= @concert.date.to_formatted_s(:long_ordinal) %></p>
  <b>Notes:</b> <%= @concert.additional_info %></p>
  <%= button_to "Tickets", @concert.tickets %>
</div>

<div class="right-container">
  <h1><%= link_to @concert.headliner.name, @concert.headliner %></h1>

  <% if @past_concert %>
    <p><em>This concert already happened.</em></p>
    <p><em>Did you attend? Leave a comment or upload photos of your experience!</em></p>
  <% end %>

  <% if current_user.venue? %>
    <%= link_to "Edit Concert", [:edit, :concert] %>
    <%= link_to "Delete Concert", :concert, method: :delete %>
  <% end %>
</div>
