<div class="left-container">
  <p><b>Date:</b> <%= @concert.date.to_formatted_s(:long_ordinal) %></p>
  <p><b>Location:</b> <%= link_to @concert.venue.name, @concert.venue %></p>
  <p><b>Address:</b> <%= @concert.venue.address %> <%= @concert.venue.city %>, <%= @concert.venue.state %></p>
  <%= link_to google_map_tag(@concert.venue.static_map_location), google_map_link(@concert.venue.static_map_location), target: "_blank" %>
  <b>Notes:</b> <%= @concert.additional_info %></p>
  <%= button_to "Tickets", @concert.tickets %>
</div>


<div class="right-container">
  <h1><%= link_to @concert.headliner.name, @concert.headliner %></h1>
  <%= image_tag(@headliner.profile_picture_url(:featured).to_s) %>

  <% @concert.opening_acts.each do |opening_act| %>
    <div>
      <%= image_tag(opening_act.artist.profile_picture_url(:snippet).to_s) %>
      <h2><%= link_to opening_act.artist.name, opening_act.artist %></h2>
    </div>
  <% end %>

  <% if current_user.venue? %>
    <%= link_to "Edit Concert", [:edit, :concert] %>
    <%= link_to "Delete Concert", :concert, method: :delete %>
  <% end %>

  <% if @concert.past? %>
    <p><em>This concert already happened.</em></p>
    <p><em>Did you attend? Leave a comment or upload photos of your experience!</em></p>

    Overall Experience : <%= rating_for @concert, "overall" %>
    Song Selection : <%= rating_for @concert, "selection" %>
    Crowd Presence : <%= rating_for @concert, "crowd" %>
    
    <h3>Fan Photos</h3>
    <% @photos.each do |photo| %>
      <%= link_to image_tag(photo.image_url(:thumb).to_s), photo %>
    <% end %>

    <% if current_user.fan? %>
      <h3>Upload Your Photos!</h3>
      <%= form_for [@concert, @new_photo], html: { multipart: true } do |form| %>
        <div>
          <%= form.label :description %>
          <%= form.text_field :description %>
        </div>
        <div>
          <%= form.file_field :image %>
        </div>
        <div>
          <%= form.submit "Upload" %>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <p><%= pluralize @concert.rsvps.count, "fan" %> said they are going.</p>
    <%= render "attend_button", target: @concert %>
  <% end %>

  <h3>Leave a comment!</h3>
  <% if current_user.fan? %>
    <%= form_for [@concert, @comment], id: "concert_comment" do |form| %>
      <%= form.text_field :body, placeholder: "Add Comment" %>
      <%= form.submit "Comment" %>
    <% end %>
  <% end %>

  <h3>Comments</h3>
  <%= render @comments %>
</div>
