<h2>You searched for <%= @query %>. Here are your results!</h2>
<div>
  Artists
  <div>
    <% if @artists.present? %>
      <% @artists.each do|artist| %>
          <li>
            <%= image_tag(artist.profile_picture_url(:snippet)) %>
            <%= link_to artist.name, artist %>
            <% if artist.concerts.present? %>
              Next Show:
              <%= link_to artist.concerts.next_concert.date.to_formatted_s(:long_ordinal), artist.concerts.next_concert %>
              at <%= link_to artist.concerts.next_concert.venue.name %>
            <% else %>
              No show scheduled at this time
            <% end %>
          </li>
      <% end %>
    <% else %>
      Sorry, there are no Artists by the name <%= @query %>
    <% end %>
  </div>
</div>
<div>
  Venues:
  <div>
    <% if @venues.present? %>
      <% @venues.each do|venue| %>
          <li>
            <%= image_tag(venue.profile_picture_url(:snippet)) %>
            <%= link_to venue.name, venue %>
          </li>
      <% end %>
    <% else %>
      Sorry, there are no venues by the name <%= @query %>
    <% end %>
  </div>
</div>
