<h2><%= @venue.name %></h2>
<% if @venue.profile_picture.present? %>
  <%= image_tag(@venue.profile_picture_url(:thumb).to_s) %>
<% end %>

<% if current_user.account == @venue %>
  <%= link_to "Edit Profile", [:edit, :venue] %>
<% end %>

<h3>Address: <%= @venue.address %> <%= @venue.city %>, <%= @venue.state %></h3>
<%= link_to google_map_tag(@venue.static_map_location), google_map_link(@venue.static_map_location), target: "_blank" %>

<h3>Upcoming Shows</h3>
<%= render @upcoming_concerts %>

<h3>Past Shows</h3>
<%= render @past_concerts %>
