<h2><%= @venue.name %></h2>

<% if current_user.account == @venue %>
  <%= link_to "Edit Profile", [:edit, :venue] %>
<% end %>

<h3>Address: <%= @venue.address %> <%= @venue.city %>, <%= @venue.state %></h3>

<h3>Upcoming Shows</h3>
<%= render @upcoming_concerts %>

<h3>Past Shows</h3>
<%= render @past_concerts %>
