<!DOCTYPE html>
<html>
<head>
  <title>BetterThanRadio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if ! signed_in? %>
  <%= image_tag("logo.png") %>
  <%= render "flash_messages" %>
<% end %>

<div class="outer-container">
  <% if signed_in? %>
    <% if current_user.account.present? %>
      <%= link_to image_tag("logo.png"), custom_dashboard_path %>
      <p>You are signed in as <%= current_user.username %> (<%= link_to "Sign out", session_path, method: :delete %>)</p>
    <% else %>
      <%= image_tag("logo.png") %>
    <% end %>

    <% if current_user.account.present? %>
        <p><%= link_to "Dashboard", custom_dashboard_path %>
        <%= link_to "Profile", current_user.account %></p>

        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search for an Artist or Venue..." %>
          <%= submit_tag "Search" %>
        <% end %>
    <% end %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
