<!DOCTYPE html>
<html>
<head>
  <title>BetterThanRadio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to image_tag("logo.png"), root_path %>

<% if signed_in? %>
  <p>You are signed in as <%= current_user.username %> (<%= link_to "Sign out", session_path, method: :delete %>)</p>

  <% if current_user.account.present? %>
      <%= link_to "Dashboard", root_path %>
      <%= link_to "Profile", current_user %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
