<!DOCTYPE html>
<html>
<head>
  <title>BetterThanRadio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Raleway|Arvo">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if ! signed_in? %>
  <%= image_tag("logo.png") %>
  <%= render "flash_messages" %>
<% end %>

<div class="outer-container">
  <div class="top-nav-bar">
    <div class="logo">
      <% if signed_in? %>
        <% if current_user.account.present? %>
          <%= link_to image_tag("logo.png"), custom_dashboard_path %>
        <% else %>
          <%= image_tag("logo.png") %>
        <% end %>
    </div>

    <% if current_user.account.present? %>
      <div class="user-name-nav">
        <p>Hello <%= current_user.username %> (<%= link_to "Sign out", session_path, method: :delete %>)</p>
      </div>
      
      <div class="navigation">
        <%= link_to image_tag("home.png", alt: "Dashboard"), custom_dashboard_path %>
        <%= link_to image_tag("profile.png", alt: "Profile"), current_user.account %>
        <div class="search">
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :query, params[:query], placeholder: "Search for an Artist or Venue..." %>
        <% end %>
      </div>
      </div>
      <% end %>
    <% end %>
  </div>

  <%= yield %>
</div>

</body>
</html>
